{% extends "master.html" %}

{% block titulo %}
	Clasificación
{% endblock %}

{% block contenido %}
	<div class="col-xs-12">
		<div id="gbarras" style="min-width: 310px; height: 400px; margin: 0 auto">
			
		</div>
	</div>
	<div class="col-xs-12">
		<div id="graficalineas"></div>
	</div>
{% endblock %}

{% block script %}
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>	
	<script src="https://code.highcharts.com/modules/sankey.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

	<script type="text/javascript">
	    jQuery(document).ready(function ($) {
	        console.log('llegando');

	        Highcharts.chart('gbarras', {
			    title: {
			        text: 'Aves por Especie'
			    },
			    xAxis: {
			        categories: [
		        		{% for p in categoria %}
							'{{p.0}}',
						{% endfor %}
					]
			    },
			    labels: {
			        items: [{
			            html: 'Representación PIE',
			            style: {
			                left: '50px',
			                top: '18px',
			                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
			            }
			        }]
			    },
			    series: [
			    	{% for p in datosclasifica %}
			    	{
			        	type: 'column',
			        	name: '{{p.0}}',
			        	data: [{{p.1}},]
			    },{% endfor %}
			    	{% for p in datospromedio %}
			    	{
			        type: 'spline',
			        name: 'Promedios',
			        data: [{{p.0}},],
			        marker: {
			            lineWidth: 2,
			            lineColor: Highcharts.getOptions().colors[3],
			            fillColor: 'white'
			        }
			    },{% endfor %}{
			        type: 'pie',
			        name: 'Total especies',
			        data: [
			        {% for p in datosclasifica %}
			        {
			            name: '{{p.0}}',
			            y: {{p.1}},
			            color: Highcharts.getOptions().colors[0] // Jane's color
			        }, {% endfor %}
			        ],
			        center: [100, 80],
			        size: 100,
			        showInLegend: false,
			        dataLabels: {
			            enabled: false
			        }
			    }]
			});


			Highcharts.chart('graficalineas', {
			    title: {
			        text: 'Detalle de Aves segun su clasificacion.'
			    },
			    series: [{
			        keys: ['from', 'to', 'weight'],
			        data: [
			        	// desde aki
			        	
			            ['England', 'Morocco', 2 ],
			            ['England', 'South Africa', 7 ],
			            ['South Africa', 'China', 5 ],
			            ['South Africa', 'India', 1 ],
			            ['South Africa', 'Japan', 3 ],
			            ['Angola', 'China', 5 ],
			            ['Angola', 'India', 1 ],
			            ['Angola', 'Japan', 3 ],
			            ['Senegal', 'China', 5 ],
			            ['Senegal', 'India', 1 ],
			            ['Senegal', 'Japan', 3 ],
			            ['Mali', 'China', 5 ],
			            ['Mali', 'India', 1 ],
			            ['Mali', 'Japan', 3 ],
			            ['Morocco', 'China', 5 ],
			            ['Morocco', 'India', 1 ],
			            ['Morocco', 'Japan', 3 ]
			        ],
			        type: 'sankey',
			        name: 'Sankey demo series'
			    }]
			});
		});
	</script>
{% endblock %}