{% extends "master.html" %}

{% load static %}

{% block titulo %}
	GALERIA
{% endblock %}

{% block style %}
	
{% endblock %}

{% block contenido %}
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Right Sidebar</li>
		</ol>
		<div class="row">
			<article class="col-md-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Galeria.</h1>
					<p>La foto tomada corresponde a una especie</p>
				</header>
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							{% for f in listafotos %}
								<div class="col-sm-6">
								    <div class="ih-item circle effect1"><a href="#">
								        <div class="spinner"></div>
								        <div class="img">
								        	<img src="{{ f.0.url }}" alt="{{ f.0.id_especies }}">
								        </div>
								        <div class="info">
								          <div class="info-back">
								            <h3>Especie</h3>
								            <p>{{ f.1.nombre }}</p>
								            <button type="button" class="btn btn-primary text-center" id="myBtn{{f.0.id_especies.pk}}" data-toggle="modal" data-target="#myModal{{f.0.id_especies.pk}}"><span class="icon-news"></span>INFO</button>
								          </div>
								        </div></a>
								    </div>
								</div>
								<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="myModal{{f.0.id_especies.pk}}" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
									    <div class="modal-content">
									    	<div class="modal-header">
									    		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									    		<h4 class="modal-title text-center" id="myModalLabel">{{f.2.nombre}}</h4>
									    	</div>
									    	<div class="modal-body">
												<div class="row borde3">
													<div class="col-xs-12">
														<div class="row">
															<label class="col-xs-12 text-center"><strong>Nombre del Ave</strong></label>
															<p class="col-xs-12 text-justify">{{ f.2.nombre }}</p>
														</div>
														<div class="row negro textblanco">
															<div class="col-xs-6">
																<label class="text-center"><strong>Sinonimo</strong></label>
																<p class="font-2">{{ f.2.sinonimo }}</p>
															</div>
															<div class="col-xs-6">
																<label class="text-center"><strong>Ecologia</strong></label>
																<p class="font-2">{{ f.2.ecologia }}</p>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-3">
																<label class="text-center"><strong>Año de publiccion</strong></label>
																<p class="font-2">{{ f.2.anio_publicacion }}</p>
															</div>
															<div class="col-xs-3">
																<label class="text-center"><strong>Año de recolección</strong></label>
																<p class="font-2">{{ f.2.anio_collecion }}</p>
															</div>
															<div class="col-xs-3">
																<label class="text-center"><strong>Famila</strong></label>
																<p class="font-2">{{ f.2.famia_id_familia.nombre }}</p>
															</div>
															<div class="col-xs-3">
																<label class="text-center"><strong>Amenaza</strong></label>
																<p class="font-2">{{ f.2.uicn_id_uicn.nombre }}</p>
															</div>
														</div>
													</div>
												</div>
										  	</div>
										    <div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									      	</div>
									    </div>
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="pagination text-center text-info font-4 col-xs-12">
						    <span class="step-links">
						        {% if paginas.has_previous %}
						            <a href="?page={{ paginas.previous_page_number }}">Anterior</a>
						        {% endif %}
						        <span class="current">
						            {{ paginas.number }} de {{ paginas.paginator.num_pages }}.
						        </span>
						        {% if paginas.has_next %}
						            <a id="linkpaginas" href="?page={{ paginas.next_page_number }}">Siguiente</a>
						        {% endif %}
						    </span>
						</div>
					</div>
				</div>
			</article>
			<aside class="col-md-4 sidebar sidebar-right">
				<div class="row widget">
					<div class="col-xs-12">
						<h4>Lorem ipsum dolor sit</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi numquam, blanditiis. Aut dicta ipsum perspiciatis ex cumque repudiandae quod numquam tenetur voluptatibus est officia totam asperiores praesentium, temporibus placeat nesciunt.</p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>Lorem ipsum dolor sit</h4>
			        	{% for e in listaespecie %}
			        		<p>{{ e.0.nombre }}, {{ e.1 }}</p>
			        	{% endfor %}
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>Lorem ipsum dolor sit</h4>
						<p><img src="assets/images/2.jpg" alt=""></p>
						<p>Qui, debitis, ad, neque reprehenderit laborum soluta dolor voluptate eligendi enim consequuntur eveniet recusandae rerum? Atque eos corporis provident tenetur.</p>
					</div>
				</div>
			</aside>
		</div>
	</div>
{% endblock %}

{% block script %}
	
  	<script type="text/javascript">
	    jQuery(document).ready(function ($) {
	    	
	    });
	</script>
{% endblock %}

