{% load static %}
/*Fuentes*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

@import 'https://code.highcharts.com/css/highcharts.css';
/*GRIFICA AMENAZAS*/
#cambio {
	min-width: 320px;
	max-width: 600px;
	margin: 0 auto;
}
#compara2{
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto;
}
#palabras {
	min-width: 310px;
	max-width: 800px;
	margin: 0 auto;
}

#map-canvas{
	width: 90%;
	height: 400px;
}

.estadis{
	width: 100% !important;
	height: 800px !important;
}

#myChart{
	width: 80% !important;
	height: 80% !important;
}
#container {
	min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}

#compara {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#gbarras {
	min-width: 310px;
	height: 400px;
	margin: 0 auto;
}
#cuadropaises {
	min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}
#graficalineas {
	min-width: 300px;
    max-width: 800px;
    height: 400px;
    margin: 1em auto;
    border: 1px solid silver;
}
#csv {
	display: none;
}

#fondo {
	width: 400px;
	text-align: center; 
  	background: #fff;
  	margin: 150px auto 0 auto;
  	padding: 30px;
  	border-radius: 5px;
}

/*AUTORES html*/
#chartdiv {
	width: 100%;
	height: 500px;
}
#fuenteautores {
	margin: 0 auto;
	max-width: 400px;
	min-width: 380px;
}

#cambioAutores {
	min-width: 320px;
	max-width: 600px;
	margin: 0 auto;
}
ul li a span {
	margin-left: 5px;
	font-size: 1em;
}

/*IR al INICIO de la PAGINA WEB*/
.ir-arriba {
    /*no se muestra el icono cuando esta al inicio*/
	padding:20px;
    /*relleno*/
	background: #0D33EA;
	/*tamaño de fuente*/
	font-size:20px;
	/*color a fuente*/
	color:#fff;
	/*para tener el efecto de enlace*/
	cursor:pointer;
    /*posicion fija*/
	position: fixed;
    /*margen abajo*/
	bottom:20px;
    /*margen derecha*/
	right:20px;
}

#titulo, #subtitulo{
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-style: italic;
}

/*Estilos cabecera*/
.font-5 {
	font-size: 	1.5em;
}
.font-4 {
	font-size: 1.2em
}
.font-3 {
	font-size: 1em
}
.font-peque {
	font-size: 	100%;
}
.font-medio {
	font-size: 200%;
}
.font-grande {
	font-size: 300%;
}


/*Colores*/
.celeste {
	background: #1E9E9E;
}
.azul {
	background: #01579B;
}
.azul1 {
	background: #E8DAD1;
	position: absolute;
	width: 110px;
	padding-left: 0em;
	padding-right: 0em;
}
.containernav{
	padding-left: 0.5em;
	padding-top: 0.5em;
}
.container1{
	padding-top: 7em;
	padding-left: 2.6em;
	width: 96.97%;
}
.rojo {
	background: #F84339;
}
.dorado{
	background: #F5AC35;
}
.verde {
	background: #109D59;
}
.verde {
	background: #109D59;
	border-radius: 5px;
}
.naranja {
	background: #FC6C2E;
}
.gris {
	background: #E0E0E0;
}
.gris2 {
	background: #3B3B3B;
}
.amarillo {
	background: #F3F210;
}
.negro {
	background: #000000;
}
.negro2 {
	background: transparent;
}
.verde2 {
	background: #24E897;
}
.blanco {
	background: #FFFFFF;
}
.naranja2 {
	background: #EA731D;
}
.textblanco {
	color: #FFFFFF;
}
.textazul {
	color: #0D33EA;
}
/*#tcn{
	background-color: #E0E0E0;
}*/

/*Grafica Amenazas*/
#donutchart{
	width: 900px;
	height: 500px;
}

/*ESTILOS para el segmento, de compartir*/
/* Facebook */
.facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.twitter {
    background: #55ACEE;
    color: white;
}
/* Twitter */
.instagram {
    background: #4c68d7;
    color: white;
}
/* whatsapp */
.whatsapp {
    background: #4AB315;
    color: white;
}
/* comparte */
.comparte {
    background: #D9B727;
    color: white;
}

/*tabla INDEX*/
.datatablas{
	background: #4BB6AD;
	color: #070707;
    font-weight: bold;
    font-style: italic;
}


#balkButton {
	border-radius: 4px;
	padding: 8px;
	border: none;
	font-size: 16px;
	background-color: #2eacd1;
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.invisible {
	display: none;
}


.borde{
	border-radius: 20px;
	background-color: #017CFF;
	color: #000000;
}
.borde2{
	border-left-color: #000000;
	border-left-style: dashed;
	border-left-width: 1px;
	border-right-color: #000000;
	border-right-style: dashed;
	border-right-width: 1px;
}

.borde3{
	border-radius: 20px;
	background-color: #000000;
	color: #FFFFFF;
}

#aves {
	height: 400px;
	max-width: 800px;
	margin: 0 auto;
}

/* Link the series colors to axis colors */
.highcharts-color-0 {
	fill: #7cb5ec;
	stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
	stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 text {
	fill: #7cb5ec;
}
.highcharts-color-1 {
	fill: #90ed7d;
	stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
	stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 text {
	fill: #90ed7d;
}


.highcharts-yaxis .highcharts-axis-line {
	stroke-width: 2px;
}
